  <section class="chat__group-messages">
    <div ng-repeat="message in $ctrl.messageList">
      <div ng-if="$ctrl.username === message.sender">
        <div class="chat__group-message chat__group-message--user">
          {{ message.sender }}: {{ message.message }}
        </div>
      </div>
      <div ng-if="$ctrl.username !== message.sender">
        <div class="chat__group-message">
          {{ message.sender }}: {{ message.message }}
        </div>
      </div>
    </div>
  </section>

  <section class="chat__input-area md-whiteframe-8dp">
    <form name="chatInput" 
          ng-submit="$ctrl.sendGroupMsg()"
          layout="row"
          flex>
      <input type="text"
             placeholder="message"
             ng-model="$ctrl.message">
      <md-button class="md-icon-button" 
                 aria-label="Send group message"
                 type="submit">
        <i class="mdi mdi-send"></i>
      </md-button>
    </form>
  </section>

