.chat__group-messages, .chat__input-area {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
}

.chat {

  &__group{

    &-messages {
      height: 100%;
      display: block;
      padding-bottom: 200px;



    }

    &-message {
      box-sizing: inherit;
      min-width: 50%;
      max-width: 80%;
      padding: 20px 10px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
      display: block;
      float: left;
      background-color: #F1F0F0;
      margin: 10px;

      &--user {
        float: right;
        text-align: right;
        background-color: #33b122;
        color: #fff;
      }
    }

  }

  &__input-area {
    position: fixed;
    background: #fff;
    bottom: 0;
    height: 10%;

    & input {
      width: 90%;
      padding: 10px;
      border: none;
    }

    & .md-button {
      margin: auto auto;
      width: 50px;
      height: 50px;
      font-size: 24px;
    }

  }
}

